Repository nextcloud/recommendations, pull requests merged in 2023-09, with the labels that each got.

#641 perf(dashboard): implement widget item api v2
  .github/workflows/test.yml
  js/recommendations-dashboard.js
  js/recommendations-dashboard.js.LICENSE.txt
  js/recommendations-dashboard.js.map
  js/recommendations-main.js
  js/recommendations-main.js.map
  lib/Dashboard/RecommendationWidget.php
  package-lock.json
  package.json
  src/components/Dashboard.vue
  src/dashboard.js
  webpack.config.js
Labels: 3. to review, backport-request, dashboard, performance

#637 feat: 28 Files headers compatibility
  js/recommendations-main.js
  js/recommendations-main.js.LICENSE.txt
  js/recommendations-main.js.map
  package-lock.json
  package.json
  src/components/Recommendations.vue
  src/main.js
  src/mixins/Nextcloud.js
  src/service/RecommendationService.js
  src/store/store.js
Labels: 3. to review, feedback-requested

#649 [stable27] perf(dashboard): implement widget item api v2
  .github/workflows/test.yml
  js/files_recommendation-dashboard.js
  js/files_recommendation-dashboard.js.LICENSE.txt
  js/files_recommendation-dashboard.js.map
  js/files_recommendation-main.js
  js/files_recommendation-main.js.map
  lib/Dashboard/RecommendationWidget.php
  package-lock.json
  package.json
  src/components/Dashboard.vue
  src/dashboard.js
  webpack.config.js
Labels: 3. to review, dashboard, performance
